body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #995034, #593a2e);
    display: flex;
    justify-content: center;
}
.site-header{
    text-align: center;   
}
